################################################
# Jinja2 template for xft configuration file
# ---------------------------
# Author: Alejandro Ricoveri <axltxl.github.io>
# vim: ft=jinja
################################################

Xft.dpi:       {{ xft_font_dpi }}
Xft.antialias: {{ xft_antialias }}
Xft.rgba:      {{ xft_rgba }}
Xft.autohint:  {{ xft_autohint }}
Xft.hinting:   {{ xft_hinting }}
Xft.hintstyle: {{ xft_hintstyle }}
Xft.lcdfilter: {{ xft_lcdfilter }}
